name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ published ]

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.24

    - name: Build and Test Go code
      run: |
        go test ./...
        go vet ./...
        go fmt ./...

    - name: Build Korean books
      run: ./build.books.ko.sh

    - name: Upload Korean books to release
      if: github.event_name == 'release' && github.event.action == 'published'
      uses: softprops/action-gh-release@v2
      with:
        files: |
          ./learn-go-with-tests-ko.epub
          ./learn-go-with-tests-ko.pdf
